/* nav bar and main pic */
.navcol{
    background-color: #00265f;
}
#mainimg{
    height: 100%;
    width: 100%;
}
/* nav bar and main pic end here*/

/* content section */

.container h2{
    margin-top: 30px;
}
.tilebutton1{
    background-color: #00265f;
    color: white;
    padding: 8px;
    text-decoration: none;
    border: 1px solid;
    border-radius: 5px;
}

.tilebutton2{
    background-color: white;
    color: #00265f;
    padding: 8px;
    text-decoration: none;
    border: 1px solid #00265f;
    border-radius: 7px;

}
.news img{
    width: 100%;
    height: 30%;
}
/*  Content section end here*/

/* footer */

.footbar{
    background-color: #00265f;
    color: white;
}
/* footer end */

/* form */
.errordisplay{
    display: none;
}
/* form end*/